@import 'tailwindcss';

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: #faf8f5 !important;
  color: #2d3748;
  line-height: 1.7;
}

.font-serifu {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 700;
}