@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&family=RocknRoll+One&display=swap');

:root {
  --color-primary: #6366f1;
  --color-primary-light: #818cf8;
  --color-primary-dark: #4f46e5;

  --color-bg-main: #fafafa;
  --color-bg-card: #ffffff;

  --color-text-primary: #1f2937;
  --color-text-secondary: #6b7280;
  --color-text-muted: #9ca3af;

  --font-main: 'Klee One', cursive;
  --font-serifu: 'RocknRoll One', cursive;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-bg-main);
  color: var(--color-text-primary);
}
