---
import Layout from "../layouts/Layout.astro";

const title = 'ことば箱';
const description = 'パーティーや配信で使える面白いセリフ集';
---

<Layout title={title} description={description}>
	<main>
		<h1>ことば箱</h1>
		<p>ここにコンテンツが入ります</p>
	</main>
</Layout>